civicrm.settings.php
settings.php
wp-config.php
files
civicrm-extend
plugins/civicrm
plugins/wordfence
plugins/user-last-login
themes/twentyfifteen
themes/twentyfourteen
uploads
themes/*/cache
plugins/*/cache
