html, body{color:#303031;background-color:White;font-family:Arial, Helvetica, Sans-Serif;font-size:12px;height:100%;line-height:16px;margin:0;}
img{border:none;}
header, nav, article, footer, address, section, form, object, embed, audio{display:block;margin:0;padding:0;}
object:focus,embed:focus,object:active,embed:active{outline:none;-moz-outline-style: none;}
audio{width: 100%;}
a{color:#80151B;cursor:pointer;}
a:focus{outline-color:#80151B;}
label{cursor:pointer;}
dl, ul, ol{margin:0.9em 0;padding:0 0 0 30px;}
ul ul, ul ol, ol ol, ol ul{margin:5px 0 0 0;}
dd, dt, li{padding:0;margin:0.5em 0 0 0;}
dd:first-child, dt:first-child, li:first-child{margin-top:0;}
h2, h3, h4, h5, h6{color:#66889C;margin:0.9em 0 5px 0;font-weight:bold;}
h1{font-size:24px;line-height:27px;margin:0;}
h2{font-size:19px;line-height:23px;}
h3{font-size:18px;font-weight:normal;line-height:21px;}
h4{font-size:14px;line-height:18px;}
h5{font-size:12px;line-height:16px;}
h6{color:inherit;font-size:12px;line-height:16px;}
p, article{margin:5px 0 0.9em 0;}
hr{margin:5px 0;border:0 solid #BEC0C2;border-top-width:1px;}
table{border-collapse:collapse;}
td, th{border:1px solid #BEC0C2;empty-cells:show;margin:0;padding:5px;vertical-align:top;text-align:left;}
td{border:1px solid #BEC0C2;}
th{background-color:#CBCDCE;border-color:#CBCDCE;}
fieldset{clear:both;margin:0.9em 0;padding:10px;}
.container_12{margin:0 auto;position:relative;width:960px;}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_9_half, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12{display:inline;float:left;position:relative;margin:10px;}
.grid_inner >:first-child, legend + *, .grid_container, article:first-child >:first-child, article.Shaded >:first-child{margin-top:0}
.grid_inner >:last-child, legend + *, .grid_container{margin-bottom:0}
.grid_inner > .grid_1, .grid_inner > .grid_2, .grid_inner > .grid_3, .grid_inner > .grid_4, .grid_inner > .grid_5, .grid_inner > .grid_6, .grid_inner > .grid_7, .grid_inner > .grid_8, .grid_inner > .grid_9, .grid_inner > .grid_10, .grid_inner > .grid_11, .grid_inner > .grid_12{margin-top:10px;margin-bottom:10px}
.alpha{margin-left:0;}
.omega{margin-right:0;}
.container_12 .grid_1{width:60px;}
.container_12 .grid_2{width:140px;}
.container_12 .grid_3{width:220px;}
.container_12 .grid_4{width:300px;}
.container_12 .grid_9_half{width:340px;}
.container_12 .grid_5{width:380px;}
.container_12 .grid_6{width:460px;}
.container_12 .grid_7{width:540px;}
.container_12 .grid_8{width:620px;}
.container_12 .grid_9{width:700px;}
.container_12 .grid_10{width:780px;}
.container_12 .grid_11{width:860px;}
.container_12 .grid_12{width:940px;}
.container_12 .prefix_1{padding-left:80px;}
.container_12 .prefix_2{padding-left:160px;}
.container_12 .prefix_3{padding-left:240px;}
.container_12 .prefix_4{padding-left:320px;}
.container_12 .prefix_9_half{padding-left:340px;}
.container_12 .prefix_5{padding-left:400px;}
.container_12 .prefix_6{padding-left:480px;}
.container_12 .prefix_7{padding-left:560px;}
.container_12 .prefix_8{padding-left:640px;}
.container_12 .prefix_9{padding-left:720px;}
.container_12 .prefix_10{padding-left:800px;}
.container_12 .prefix_11{padding-left:880px;}
.container_12 .suffix_1{padding-right:80px;}
.container_12 .suffix_2{padding-right:160px;}
.container_12 .suffix_3{padding-right:240px;}
.container_12 .suffix_4{padding-right:320px;}
.container_12 .suffix_9_half{padding-right:340px;}
.container_12 .suffix_5{padding-right:400px;}
.container_12 .suffix_6{padding-right:480px;}
.container_12 .suffix_7{padding-right:560px;}
.container_12 .suffix_8{padding-right:640px;}
.container_12 .suffix_9{padding-right:720px;}
.container_12 .suffix_10{padding-right:800px;}
.container_12 .suffix_11{padding-right:880px;}
.container_12 .push_1{left:80px;}
.container_12 .push_2{left:160px;}
.container_12 .push_3{left:240px;}
.container_12 .push_4{left:320px;}
.container_12 .push_9_half{left:960px;}
.container_12 .push_5{left:400px;}
.container_12 .push_6{left:480px;}
.container_12 .push_7{left:560px;}
.container_12 .push_8{left:640px;}
.container_12 .push_9{left:720px;}
.container_12 .push_10{left:800px;}
.container_12 .push_11{left:880px;}
.container_12 .pull_1{left:-80px;}
.container_12 .pull_2{left:-160px;}
.container_12 .pull_3{left:-240px;}
.container_12 .pull_4{left:-320px;}
.container_12 .pull_9_half{left:-360px;}
.container_12 .pull_5{left:-400px;}
.container_12 .pull_6{left:-480px;}
.container_12 .pull_7{left:-560px;}
.container_12 .pull_8{left:-640px;}
.container_12 .pull_9{left:-720px;}
.container_12 .pull_10{left:-800px;}
.container_12 .pull_11{left:-880px;}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:after, .container_12:after, form dd:after, dl.TwoColumn dd:after, #PageInnerWrapper:after, .ContentColumn:after {clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;}
#PageOuterWrapper{min-height:100%;position:relative;}
#PageOuterWrapper a:hover{text-decoration:underline;}
#PageInnerWrapper{border-bottom:12px solid Transparent;padding:0 0 8.5em 0;position:relative;}
#MastheadWrapper, #Masthead, #PageFooter .container_12 {background-image:none;}
#MastheadWrapper{min-width:960px;padding:0;position:relative;width:100%;}
#Masthead{width:940px;margin:0 auto;padding:0 10px;position:relative;}
/*#Breadcrumb{display:inline;float:left;font-size:10px;line-height:12px;margin:3px 10px;position:relative;text-align:right;width:940px;}*/
span.Shaded, span.Notice {display:block;}
.Shaded > .grid_inner, h2.Shaded, h3.Shaded, h4.Shaded, h5.Shaded, h6.Shaded, article.Shaded{background-color:#F2F2F3;border:1px solid #D8D9DA;padding:9px;}
.Shaded + .Shaded{margin-top:20px;}
#PageFooter{color:White;position:absolute;height:8.5em;bottom:0;min-width:960px;width:100%;background-color:#5F6061;border-top:5px solid #303031;padding-top:7px;}
#PageFooter .container_12{font-size:11px;line-height:15px;padding:0;}
#PageFooter a{color:White;}
#PageFooter a:focus{outline-color:White;}
#PageFooter .grid_4, #PageFooter .grid_6{margin-top:24px;}
#PageFooter .FYP{text-align:right;margin:0 10px;min-height:90px;}
#PageFooter ul{display:block;list-style-type:none;margin:0;padding-left:0;}
#PageFooter li{color:White;display:inline-block;list-style-type:none;margin:0;padding:0;}
#PageFooter li a{display:inline-block;margin:0 10px;}
#PageFooter li:before{content:'|';}
#PageFooter li:first-child:before{content:''}
#PageFooter li:first-child a{margin-left:0;}
#PageInnerWrapper .Caption{font-family:Georgia, Arial, Sans-Serif;font-size:11px;font-style:italic;line-height:14px;}
h2.Shaded + *, h3.Shaded + *, h4.Shaded + *, h5.Shaded + *, h6.Shaded + *{margin-left:10px;margin-right:10px;}
.LocalNav h2.Shaded + *, .LocalNav h3.Shaded + *, .LocalNav h4.Shaded + *, .LocalNav h5.Shaded + *, .LocalNav h6.Shaded + *{margin-left:0;margin-right:0;}
form fieldset{border:solid #E5E6E7 1px;padding:10px;}
form fieldset legend{font-weight:bold;}
fieldset fieldset{clear:both;}
form dl, dl.TwoColumn{clear:both;margin:5px 0 0.9em 0;padding:10px;}
form fieldset dl{padding:10px 0;margin:0;}
form legend + dl{padding-top:0;}
form fieldset dl:last-child{padding-bottom:0;}
form dt, dl.TwoColumn dt{margin:0 10px 5px 0;display:inline;float:left;clear:both;text-align:right;width:170px;}
form dd, dl.TwoColumn dd{display:block;margin:0 0 10px 180px;}
.FormButton{display:block;margin:0 0 10px 190px;}
form dd:last-child, dl.TwoColumn dd:last-child{margin-bottom:0;}
form dd .Example{float:right;width:150px;font-size:10px;line-height:12px;}
tr.Shaded td, td.Shaded{background-color:#E5E6E7;}
ul.NoBullet, ul.NoBullet > li{list-style-type:none;padding-left:0;}
ol.Outline{list-style-type:upper-roman;}
ol.Outline ol{list-style-type:upper-alpha;}
ol.Outline ol ol{list-style-type:decimal;}
ol.Outline ol ol ol{list-style-type:lower-alpha;}
ol.Outline ol ol ol ol{list-style-type:lower-roman;}
ol.OutlineAlpha{list-style-type:upper-alpha;}
ol.OutlineAlpha ol{list-style-type:decimal;}
ol.OutlineAlpha ol ol{list-style-type:lower-alpha;}
ol.OutlineAlpha ol ol ol{list-style-type:decimal;}
ol.OutlineAlpha ol ol ol ol{list-style-type:lower-alpha;}
.ElementListV{list-style-type:none;padding:0}
.ElementListH {padding-left: 0; margin: 0;}
.ElementListH > li{display:inline-block;list-style-type:none;padding:0 10px 0 0;}
.Notice{color:#D9DA55;background-color:#303031;font-weight:bold;margin:5px 0 0.9em 0;padding:10px;}
.Notice a{color:#D9DA55;text-decoration:underline;}
.Notice a:focus{outline-color:#D9DA55;}
.Button {background-color:#5e0009;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;display:inline-block;font-size:14px;font-weight:bold;padding:10px 12px;color:white;text-decoration:none;text-align:center;}
.Button:hover {text-decoration:underline;}
.Error{border: 1px solid #EC1C24;color:#EC1C24;font-weight:bold;margin:5px 0 0.9em 0;padding:9px;}
.Error a{color:#EC1C24; text-decoration:underline;}
.Error a:focus{outline-color:#EC1C24;}
.ErrorIcon{border:none;margin:0;padding:0;}
img.ErrorIcon,.ErrorIcon img{float:right;}
.Bordered{border:1px solid #BEC0C2;padding:9px;}
img.Bordered{padding:0;}
.LocalNav{position:relative;}
ul.PopoutMenu ul{background-color:White;border:1px solid #CBCDCE;-moz-box-shadow:0 0 10px #A0A0A0;-webkit-box-shadow:0 0 10px #A0A0A0;box-shadow:0px 0px 10px #A0A0A0;height:auto;list-style:none;margin:0;overflow:hidden;padding:9px;position:absolute;right:-240px;top:-1px;width:220px;visibility:hidden;z-index:1000;}
ul.PopoutMenu li{padding:0;position:relative;width:auto;top:0;}
ul.PopoutMenu > li{z-index:1001;}
ul.PopoutMenu > li li{border-top:1px solid #E5E6E7;border-bottom-width:0;width:220px;z-index:1001;}
ul.PopoutMenu > li li:first-child{border-top-width:0;}
ul.PopoutMenu a{display:block;padding:2px 0 4px 0;width:auto;}
ul.PopoutMenu li:hover li ul, ul.PopoutMenu li.MenuHover li ul{visibility:hidden;}
ul.PopoutMenu li:hover ul, ul.PopoutMenu ul li:hover ul, ul.PopoutMenu li.MenuHover ul, ul.PopoutMenu ul li.MenuHover ul{visibility:visible;height:auto;}
ul.PopoutMenu li.Sublist > a{background-image:url(/images/2010/popoutmenusubitem.png);background-position:right center;background-repeat:no-repeat;padding-right:19px;}
.shadow {-moz-box-shadow:2px 1px 3px #4d4d4d;-webkit-box-shadow:2px 1px 3px #4d4d4d;box-shadow:2px 1px 3px #4d4d4d;}
@media print{
#PageOuterwrapper, #PageInnerWrapper, .container_12, .ContentColumn{display:inline;margin:0;}
#Masthead, #MastheadWrapper, #UnitMastheadWrapper, #UnitMasthead, .UnitMastheadWrapper, .UnitMasthead{display:block;margin:0;padding:0;width:720px;}
.SiteTitle{margin-left:10px;}
#Masthead .SiteIndex, #Masthead .Search{display:none;}
#Masthead header{position:static;}
#Masthead header img, #Masthead .iepp_header img{left:-5px;position:relative;}
#Breadcrumb{margin:3px 0;min-width:720px;width:auto;}
html, body{color:black;height:auto;}
.LocalNav{display:none;}
#PageFooter{clear:both;height:auto;width:720px;border-top:none;position:static;}
#PageFooter .container_12{display:block;position:static;width:720px;}
#PageFooter .FYP{width:100px;}
#PageFooter .FooterWrapper{margin-left:120px;}
#PageFooter .grid_5{width:280px}
#PageFooter .grid_10{width:5800px}
.FeatureContent{border:none;}
.Notice{padding:0;}
form dl, dl.TwoColumn{display:inline-block;}
#Masthead .iepp_header{margin:0;position:static;z-index:2;width:167px;height:52px;padding:0 0 0 7px;}
#Masthead .iepp_header a{display:block;padding:0;position:static;}
}